.block {
  grid-column: 5 / 9;

  display: flex;
  justify-content: space-between  ;
}

.colorBlock {
  background-color: #DFDCFE !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.time {
  font-size: 64px;
}